<h1>Items#index,</h1>
<p>Find me in app/views/items/index,.html.erb</p>

<div class="container">
    <div class="row">
        <div class="clo-lg-4">
            こんにちは
        </div>
        <div class="col-lg-8">
            <table class="table table-syriped">
                 <%= link_to "記事を書く", new_user_item_path %>
            </table>
        </div>
    </div>
</div>