<div>
    <h1>マイページ</h1>
</div>
<div>
    <table>
        <tr>
            <th>プロフィール画像</th>
            <td></td>
        </tr>
        <tr>
            <th>名前</th>
            <td><%= @user.name %></td>
        </tr>
        <tr>
            <th>自己紹介</th>
            <td><%= @customer.body %></td>
        </tr>
        <tr>
            <th>私のイチオシのお店</th>
            <td><%= @customer.like %></td>
        </tr>
        <tr>
            <th></th>
            <td></td>
        </tr>
    </table>
</div>

<div class="bottan">
    <%= link_to "情報更新",  edit_user_customer_path(current_user.id) %>
</div>