<body>
    <main>
        <div class="mx-auto" style="width: 800px;">
             <h2>
                 このサイトラーメンを通じて地域を<br />
                 活性化をすることが目的です。<br />
                 地域の穴場のラーメン店や有名店など投稿しましょ！<br />
                 このサイトを通じて、大きなコミュニティー作り、<br />
                 足を運んで地域を盛り上げよう！
             </h2>
        </div>
    </main>
</body>