 <body>
     <div class="main">
      　<div class="mx-auto" style="width: 800px;">
           <h2>さあ、発信しよう！<br />
               地域の名店、隠れた繁盛店<br />
               ラーメンを魅力を発信し、<br />
               ここから日本全国の地域を活性化していこう！
            </h2>
        </div>
     </div>
 </body>