 <body>
    <div class="main">
        <div class="main-top">
            <div class ="top-image1"></div>
            <div class ="top-image2"></div>
            <div class ="top-image3"></div>
        </div>
       
        <div class="main-bottom">
            <div class ="bottom-image1"></div>
            <div class ="bottom-image2"></div>
            <div class ="bottom-image3"></div>
        </div>
    </div>
 </body>