 <body>
    <div class="main">
        <div class="main-top">
            <div class ="top-image"></div>
        </div>
        <h1>top</h1>
        <div class="main-bottom">
            <div class ="bottom-image"></div>
        </div>
    </div>
 </body>