// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main {
   background-size: auto;
   height: 500px;
   width: 1500px;
   background-possition: center;
   background-image: image-url("japanese_archipelago-1-p12.svg")}


