// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.main {
    width: 1300px;
    height: cover;
    display: flex;
   

    
}

.sidebar {
    width: 500px;
    border: red;
    padding: 50px;
    text-align: center;
    background-color: white;
}

.tabel {
    width: 500px;
}

.blog {
    width: 800px;
    padding: 50px;
    background-color: white;
}

.item {
    background-color: white;
    text-align: center;
    color: pink;
    width: 700px;
    height: 400px;
    padding: 50px;
}

tr {
    text-align : center;
}

.table-title {
    
}

.table-image {
    background-size: auto;
}

.hr1 {
    border-right: 1px solid #000;
}

.hr2 {
    border-top: 1px solid #000;
}


